debian/flexibee-server
tmp
etc
nbproject
debian/debhelper-build-stamp
debian/flexibee-server.debhelper.log
debian/flexibee-server.postrm.debhelper
debian/flexibee-server.substvars
debian/lastversion
debian/md5sums
flexibee_*
debian/files
/.vagrant/
*_all.deb
/debian/flexibee-server-backup/
/debian/flexibee-server-backup.substvars