[Desktop Entry]
Name=FlexiBee Web
Comment="FlexiBee Web interface"
Exec=sensible-browser https://localhost:5434
Terminal=false
Icon=/usr/share/pixmaps/flexibee-server.png
Type=Application
Categories=Office
