[Unit]
Description=ABRA FlexiBee Server

[Service]
EnvironmentFile=/etc/default/flexibee
ExecStart=/usr/sbin/flexibee-server
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=no
RestartPreventExitStatus=255
Type=forking
PIDFile=/run/flexibee.pid

[Install]
WantedBy=multi-user.target
Alias=flexibee.service
