#!/bin/bash

set -e

TYPE=client

# check if PostgreSQL cluster is installed.
if [ -f /usr/bin/pg_createcluster ]; then 

       . /usr/share/debconf/confmodule

    TYPE="server"

fi

CFG=/etc/default/abraflexi
if [ -f "$CFG" ]; then
  cat $CFG | sed "s/#*[[:space:]]*abraflexi_CFG=.*/abraflexi_CFG=$TYPE/g" > $CFG.new
  CONFIG_CHANGED=0
  diff -q --ignore-space-change $CFG $CFG.new > /dev/null 2> /dev/null || CONFIG_CHANGED=1

  if [ "x$CONFIG_CHANGED" = "x1" ]; then
    mv $CFG $CFG.old
    mv $CFG.new $CFG
  else
    rm "$CFG.new"
  fi
fi

exit 0
