Source: abraflexi-server
Build-Depends: debhelper (>= 7.0.50~),po-debconf,debconf
Standards-Version: 4.5.1
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/flexibee-server-deb

Package: abraflexi-server
Architecture: all
Depends: default-jdk-headless|openjdk-17-jre-headless|openjdk-11-jre-headless|oracle-java11-jre|openjdk-8-jre-headless, postgresql-client-common, postgresql, postgresql-pltcl, postgresql-contrib, lsb-base, locales-all,debconf, fonts-cmu
Conflicts: flexibee-client,flexibee, winstrom, winstrom-client
Replaces: flexibee-client,flexibee, winstrom
Recommends: autopostgresqlbackup, abraflexi-server-backup, abraflexi-server-systemd
Section: contrib/office
Priority: optional
Homepage: http://www.flexibee.eu/
Description: Ekonomický systém ABRA Flexi - REST API a HTML rozhraní
 Serverová verze Internetového ekonomického systému ABRA Flexi.

Package: abraflexi-server-backup
Architecture: all
Depends: flexibee-server|flexibee,debconf
Section: contrib/office
Priority: optional
Homepage: https://github.com/VitexSoftware/flexibee-server-deb
Description: Každodení záloha dat
 Každý den uloží zálohu firmy do /var/lib/backup/flexibee nebo jinam dle volby
