Source: flexibee-server
Build-Depends: debhelper (>= 7.0.50~),po-debconf,debconf
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/flexibee-server-deb

Package: flexibee-server
Architecture: all
Depends: openjdk-8-jre-headless|oracle-java8-jre|openjdk-9-jre-headless|oracle-java9-jre|openjdk-11-jre-headless, postgresql-client-common, postgresql-9.6 | postgresql-9.5 | postgresql-9.4 | postgresql-9.3 | postgresql-9.2 | postgresql-9.1 | postgresql-9.0 | postgresql-10.0 | postgresql (>= 9.2), postgresql-pltcl | postgresql-pltcl-9.6 | postgresql-pltcl-9.5 | postgresql-pltcl-9.4 | postgresql-pltcl-9.3 | postgresql-pltcl-10.0 | postgresql-pltcl-9.0 | postgresql-contrib-10.0 |postgresql-contrib-9.6 | postgresql-contrib-9.5 | postgresql-contrib-9.4 | postgresql-contrib-9.3 | postgresql-contrib-9.2 | postgresql-contrib-9.1 | postgresql-contrib-9.0 , postgresql-pltcl|postgresql-pltcl-9.0|postgresql-pltcl-9.1|postgresql-pltcl-9.2|postgresql-pltcl-9.3|postgresql-pltcl-9.4|postgresql-pltcl-9.5|postgresql-pltcl-9.6,  debconf | debconf-2.0, lsb-base (>= 3.0-6), locales-all,debconf 
Conflicts: flexibee-client,flexibee, winstrom, winstrom-client
Replaces: flexibee-client,flexibee, winstrom
Recommends: autopostgresqlbackup, flexibe-server-backup, flexibee-server-systemd
Section: contrib/office
Priority: optional
Homepage: http://www.flexibee.eu/
Description: Ekonomický systém ABRA FlexiBee - REST API a HTML rozhraní
 Serverová verze Internetového ekonomického systému ABRA FlexiBee.

Package: flexibee-server-backup
Architecture: all
Depends: flexibee-server|flexibee,debconf
Section: contrib/office
Priority: optional
Homepage: https://github.com/VitexSoftware/flexibee-server-deb
Description: Každodení záloha dat
 Každý den uloží zálohu firmy do /var/lib/backup/flexibee nebo jinam dle volby
