#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean

override_dh_prep:
	dh_prep
	./fresh.sh
	ls -la debian


override_dh_build:
	dh_build

override_dh_install:
	dh_install
	sed -i 's/\/var\/run\/abraflexi\.pid/\/run\/abraflexi\.pid/g'  debian/abraflexi-server/etc/init.d/abraflexi


#override_dh_clean:
#	debconf-updatepo
#	dh_clean
