#!/usr/bin/make -f

%:
	dh $@

override_dh_build:
	dh_build

override_dh_install:
	dh_install
	rm -rf data/usr/bin
	rm -rf data/usr/share/app-install
	rm -rf data/usr/share/applications
	rm -rf data/usr/share/fonts
	rm -rf data/usr/share/mime
	rm -rf data/usr/share/mimelnk
	rm -rf data/usr/share/pixmaps
	mkdir -p data/etc/avahi/services/
	cp bonus/flexibee.service  data/etc/avahi/services/
	echo FLEXIBEE_CFG=server >> data/etc/default/flexibee
	mv data/*	debian/flexibee-server

